Alt+\:SL Risk Short BE :~ 153:Price=AvgCost;Share=Pos;Price=Price*Share+{{risk}};Price
=Price/Share;Price=Round2;Share=Pos;~0D~0ARoute=Sto
p;StopType=Market;StopPrice=Price;~0D~0ACXL ALLSYMB
 Buy;Buy
Shift+V:Chart Rayline:RayLine
Shift+X:Chart Horizontal line:HorizontalLine
Shift+Z:Chart Toggle Panning:ToggleDragMode
Ctrl+Shift+PageUp:SL Risk Short {{risk}} :~ 149:Price=AvgCost;Share=Pos;Price=Price*Share+{{risk}};Price
=Price/Share;Price=Round2;Share=Pos;Route=Stop;Stop
Type=Market;StopPrice=Price;CXL ALLSYMB Buy;Buy
Shift+\:SL Risk Long BE :~ 149:Price=AvgCost;Share=Pos;Price=Price*Share-0;Price=P
rice/Share;Price=Round2;Share=Pos;Route=Stop;StopTy
pe=Market;StopPrice=Price;CXL ALLSYMB SELL;Sell
Shift+`:Setup Short Loss:ROUTE=Stop;StopType=Market;StopPrice=Price;Buy=Load
Ctrl+Home:default:Share=DEFSHARE+0
Home:Share size:Price=25000/Last;Share=Price/4;Price=last;Focus Share
,:Calc Risk {{risk}} based on abs(Price-ask):~ 220:Share=Price*100;DEFShare=Share;Price=Ask*100;SShare
=Price;Share=SShare-DEFShare;SShare=Share;Share=DEF
Share;Price=Share/100;Share={{risk}}*100/SShare;ToggSSha
re=off;DEFShare=BP*0.5;~0D~0ATogSShare=off;DEFShare
=Share/2;FOCUS Share
-:Share/2:Share=Share/2
.:Calc Risk $500 based on abs(Price-ask):~ 220:Share=Price*100;DEFShare=Share;Price=Ask*100;SShare
=Price;Share=SShare-DEFShare;SShare=Share;Share=DEF
Share;Price=Share/100;Share=500*100/SShare;ToggSSha
re=off;DEFShare=BP*0.5;~0D~0ATogSShare=off;DEFShare
=Share/2;FOCUS Share
/:PT Projected (price, position):~ 142:Share=Price*100;DEFSHARE=Share;Price=AvgCost*100;Sh
are=Price;SShare=Share;Share=DEFShare-SShare*POS/10
0;Price=Share;TogSShare=off;DEFSHARE=100
;:Setup Sell Limit:ROUTE=Limit;SELL=Load
=:Share*2:Share=Share*2
Ctrl+KeyDown:Price - .05:Price=Price-0.05
Ctrl+A:Focus Symbol:Focus Symbol
Ctrl+C:Close Long Pos*0.25:ROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos*0.25;Price=Bid-0.03;~0D~0ACXL ALLSYMB;SELL
Ctrl+D:Focus price:Focus Price
[:Price = Bid:Price=Bid;Route=Limit
\:Focus Replace:Focus Replace
]:Price = Ask:Price=Ask ;
Ctrl+End:close long:Route=Limit;Shares=Pos;Price=Bid-0.03;Sell
`:Setup Buy Limit:ROUTE=Limit;BUY=Load
Ctrl+Q:Cancel orders:CXL ALLSYMB
Ctrl+S:Focus Share:Focus Share
Ctrl+W:Cancel last - long:CXL LAST
Ctrl+X:Close Long Pos*0.5:ROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos*0.5;Price=Bid-0.03;~0D~0ACXL ALLSYMB;SELL
Ctrl+Z:Close Long Pos:ROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos;Price=Bid-0.03;~0D~0ACXL ALLSYMB;SELL
Ctrl+F12:Config Login:Login
Ctrl+KeyLeft:Share Size -1000 shares:Share=Share-1000
PageUp:Limit Default@Ask Buy:Route=Limit;Share=DefShare;Price=Bid;BUY
Shift+PageUp:Buy@ask:Route=Limit;Share=DefShare;Price=Ask+0.01;Buy
Alt+PageDown:Sell@bid:Route=Limit;Share=DefShare;Price=Bid-0.01;Sell
Shift+KeyRight:Share+500:Share=Share+500
Shift+KeyDown:PT Price-${{risk}}:Share=Pos;Price=Price*Share-{{risk}};Price=Price/Share;Price=Round2
Shift+TAB:switch  tabs:SwitchTab tabname
Shift+KeyLeft:Share-500:Share=Share-500
F1:Chart 1 MIN CHART 1 day:MinuteChart 2 3d; ZoomFit
F2:Chart 3 MIN CHART 1 day Copy:MinuteChart 3 3d; ZoomFit
F3:Chart 5 MIN CHART 1 day:MinuteChart 5 3d; ZoomFit
F4:Chart Daily:DayChart 1d 365d; ZoomFit
F5:Chart 1H chart:MinuteChart 60 160; ZoomFit
KeyUp:Price + .01:Price=Price+0.01
Ctrl+KeyUp:Price + .05:Price=Price+0.05
Alt+End:Close Short:CXL ALLSYMB;~0D~0AROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos;Price=Ask+0.10;BUY;
Shift+End:Close Long:CXL ALLSYMB;~0D~0AROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos;Price=Bid-0.05;SELL;
Shift+Home:Close Long:CXL ALLSYMB;~0D~0AROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos/2;Price=Bid-0.05;SELL;
Shift+ESC:Stop Setup@last:Share=0;Focus Share
Insert:Best Fit chart:ZoomFit
KeyDown:Price - .01:Price=Price-0.01
Ctrl+PageUp:Limit default@price buy:Route=Limit;Share=DefShare;BUY
Ctrl+PageDown:Limit default@price sell:Route=Limit;Share=DefShare;Sell
PageDown:Limit Default@Ask Sell:Route=Limit;Share=DefShare;Price=Ask+0.00;SELL
KeyLeft:Share Size -100 Shares:Share=Share-100
Alt+Home:Close Short:CXL ALLSYMB;~0D~0AROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos/2;Price=Ask+0.05;BUY;
Shift+:Default Size:DefShare=Share
Shift+PageDown:Sell@bid:Route=Limit;Share=DefShare;Price=Bid-0.01;Sell
Ctrl+Shift+PageDown:SL Risk Long {{risk}} :~ 151:Price=AvgCost;Share=Pos;Price=Price*Share-{{risk}};Price
=Price/Share;Price=Round2;Share=Pos;Route=Stop;Stop
Type=Market;StopPrice=Price;CXL ALLSYMB SELL;Sell
NumPad+:Chart ZoomIn:ZoomIn
NumPad-:Chart ZoomOut:ZoomOut
Alt+PageUp:Buy@ask:Route=Limit;Share=DefShare;Price=Ask+0.01;Buy
{%- for i in range(1,4) -%}
Alt+{{i}}:SL Risk Short {{risk*i}}:~ 151:Price=AvgCost;Share=Pos;Price=Price*Share+{{risk*i}};Price
=Price/Share;Price=Round2;Share=Pos;Route=Stop;Stop
Type=Market;StopPrice=Price;~0D~0ACXL ALLSYMB Buy;B
uy
{%- endfor -%}
Alt+2:SL Risk Short 500:~ 149:Price=AvgCost;Share=Pos;Price=Price*Share+500;Price
=Price/Share;Price=Round2;Share=Pos;Route=Stop;Stop
Type=Market;StopPrice=Price;CXL ALLSYMB Buy;Buy
Alt+3:SL Risk Short 750 :~ 149:Price=AvgCost;Share=Pos;Price=Price*Share+750;Price
=Price/Share;Price=Round2;Share=Pos;Route=Stop;Stop
Type=Market;StopPrice=Price;CXL ALLSYMB Buy;Buy
Shift+KeyUp:PT Price+${{risk}} :Share=Pos;Price=Price*Share+{{risk}};Price=Price/Share;Price=Round2
Alt+C:Close Short Pos*0.25:ROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos*0.25;Price=Ask+0.03;~0D~0ACXL ALLSYMB Buy;Buy
Alt+H:Chart HorizontalLine:HorizontalLine
Alt+Q:Cancel orders Copy:CXL ALLSYMB
Ctrl+KeyRight:Share Size +1000 Shares:Share=Share+1000
Alt+W:Cancel last:CXL LAST
Alt+X:Close Short Pos*0.50:ROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos*0.5;Price=Ask+0.03;~0D~0ACXL ALLSYMB Buy;Buy
Alt+Z:Close Short Pos:ROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos;Price=Ask+0.03;~0D~0ACXL ALLSYMB Buy;Buy
F10:browser:https://seekingalpha.com/symbol/%SYMB%/press-releases
F12:Config Hotkey:Hotkey
KeyRight:Share Size +100 Shares:Share=Share+100
ESC:Reset Pos + AvgCost:share=Pos;ROUTE=LIMIT;PRICE=AvgCost;SShare=0
Shift+1:SL Risk Long {{risk}} :~ 151:Price=AvgCost;Share=Pos;Price=Price*Share-{{risk}};Price
=Price/Share;Price=Round2;Share=Pos;Route=Stop;Stop
Type=Market;StopPrice=Price;CXL ALLSYMB SELL;Sell
Shift+2:SL Risk Long 500:~ 151:Price=AvgCost;Share=Pos;Price=Price*Share-500;Price
=Price/Share;Price=Round2;Share=Pos;Route=Stop;Stop
Type=Market;StopPrice=Price;CXL ALLSYMB SELL;Sell
Shift+3:SL Risk Long 750 :~ 151:Price=AvgCost;Share=Pos;Price=Price*Share-750;Price
=Price/Share;Price=Round2;Share=Pos;Route=Stop;Stop
Type=Market;StopPrice=Price;CXL ALLSYMB SELL;Sell
Shift+;:Setup Buy Stop:Route=Stop;StopType=Market;StopPrice=Price;Sell=Load
Shift+C:Chart Toggle Crosshair:ToggleCrosshair
