F12:Config Hotkey:Hotkey

Alt+\:Auto Short PT0 B/E:Price=AvgCost;Share=Pos;Price=Price*Share+0;Price=Price/Share;Price=Round2;Share=Pos;Route=Stop;StopType=Market;StopPrice=Price;CXL ALLSYMB Buy;Buy
{%- for i in range(1,nhk) %}
Alt+{{i}}:Auto Short SL{{i}} ${{risk*i}}:Price=AvgCost;Share=Pos;Price=Price*Share+{{risk*i}};Price=Price/Share;Price=Round2;Share=Pos;Route=Stop;StopType=Market;StopPrice=Price;CXL ALLSYMB Buy;Buy
Alt+F{{i}}:Auto Short PT{{i}} ${{i*risk}}:Price=AvgCost;Share=Pos;Price=Price*Share-{{i*risk}};Price=Price/Share;Price=Round2;Share=Pos/{{npt}};Route=LIMIT;Buy;{%- for vv in range(2,npt+1) %}Price=Price-{{pto}};Buy;{%- endfor %}
{%- endfor %}

Shift+\:Auto Long PT0 B/E:Price=AvgCost;Share=Pos;Price=Price*Share-0;Price=Price/Share;Price=Round2;Share=Pos;Route=Stop;StopType=Market;StopPrice=Price;CXL ALLSYMB SELL;Sell
{%- for i in range(1,nhk) %}
Shift+{{i}}:Auto Long SL{{i}} ${{i*risk}}:Price=AvgCost;Share=Pos;Price=Price*Share-{{i*risk}};Price=Price/Share;Price=Round2;Share=Pos;Route=Stop;StopType=Market;StopPrice=Price;CXL ALLSYMB SELL;Sell
Shift+F{{i}}:Auto Long PT{{i}} ${{i*risk}}:Price=AvgCost;Share=Pos;Price=Price*Share+{{i*risk}};Price=Price/Share;Price=Round2;Share=Pos/{{npt}};Route=LIMIT;Sell;{%- for vv in range(2,npt+1) %} Price=Price+{{pto}};Sell;{%- endfor %} {%- endfor %}


{# chart configuration #}
Shift+V:Chart Rayline:RayLine
Alt+H:Chart HorizontalLine:HorizontalLine
Alt+A:Chart Toggle Panning:ToggleDragMode
Alt+S:Chart Toggle Crosshair:ToggleCrosshair
F1:Chart 1 MIN CHART 1 day:MinuteChart 2 3d; ZoomFit
F2:Chart 3 MIN CHART 1 day Copy:MinuteChart 3 3d; ZoomFit
F3:Chart 5 MIN CHART 1 day:MinuteChart 5 3d; ZoomFit
F4:Chart Daily:DayChart 1d 365d; ZoomFit
F5:Chart 1H chart:MinuteChart 60 160; ZoomFit
NumPad+:Chart ZoomIn:ZoomIn
NumPad-:Chart ZoomOut:ZoomOut

{# load operation #}
Alt+`:Trail long:TIF=DAY+;Route=Stop;StopType=Trailing;TrailPrice=0.25;Buy=Load
Alt+;:Trail Short:TIF=DAY+;Route=Stop;StopType=Trailing;TrailPrice=0.25;SELL=Load
Shift+`:Load Stop Buy:ROUTE=Stop;StopType=Market;StopPrice=Price;Buy=Load
Shift+;:Load Stop Sell:Route=Stop;StopType=Market;StopPrice=Price;Sell=Load
;:Load Limit Sell:ROUTE=Limit;SELL=Load
`:Load Limit Buy:ROUTE=Limit;BUY=Load
[:Load Price = Bid:Price=Bid;Route=Limit
]:Load Price = Ask:Price=Ask

{# trailing stop #}
Ctrl+Shift+1:Trail long:TIF=DAY+;Share=Pos;Route=Stop;StopType=Trailing;TrailPrice=last-Price;SELL=Load;TrailPrice=Round2
Alt+Shift+1:Trail short:TIF=DAY+;Share=Pos;Route=Stop;StopType=Trailing;TrailPrice=Price-last;Buy=Load;TrailPrice=Round2

Alt+End:Close Short Quick:CXL ALLSYMB;ROUTE=ARCAL;TIF=DAY+;HANDINST=ANY;Share=Pos;Price=Ask+0.20;BUY;
Ctrl+End:Close Long Quick:CXL ALLSYMB;ROUTE=ARCAL;TIF=DAY+;HANDINST=ANY;Share=Pos;Price=Bid-0.20;Sell

{# Pre-trade calculation: position size based on SL and last price #}
,:Calc Risk {{risk}} ticks based on abs(Price-ask):Share=Price*100;DEFShare=Share;Price=Last+Ask-Bid;Price=Price*100;SShare=Price;Share=SShare-DEFShare;SShare=Share;Share=DEFShare;Price=Share/100;Share={{risk}}*100/SShare;ToggSShare=off;DEFShare=BP*0.5;TogSShare=off;DEFShare=Share/2;FOCUS Share-:Share/2:Share=Share/2
.:Calc Risk {{2*risk}} ticks based on abs(Price-ask):Share=Price*100;DEFShare=Share;Price=Last+Ask-Bid;Price=Price*100;SShare=Price;Share=SShare-DEFShare;SShare=Share;Share=DEFShare;Price=Share/100;Share={{3*risk}}*100/SShare;ToggSShare=off;DEFShare=BP*0.5;TogSShare=off;DEFShare=Share/2;FOCUS Share

{# ORB risk HI - LOW #}
Alt+,:ORB long HI-LOW {{risk}}:Price=HI-LOW;Price={{risk}}/Price;Share=Price;Price=HI;StopType=Market;ROUTE=STOP;StopPrice=HI;BUY=LOAD
Alt+.:ORB short LOW-HI {{risk}}:Price=HI-LOW;Price={{risk}}/Price;Share=Price;Price=LOW;StopType=Market;ROUTE=STOP;StopPrice=LOW;SELL=LOAD

{# bar risk #}
Ctrl+,:BO long Price-LOW {{risk}}:StopPrice=Price;Price=Price-LOW;Price={{risk}}/Price;Share=Price;StopType=Limit;Price=StopPrice;ROUTE=STOP;BUY=LOAD;FOCUS share
Ctrl+.:BO short Hi-Price {{risk}}:StopPrice=Price;Price=HI-Price;Price={{risk}}/Price;Share=Price;StopType=Limit;Price=StopPrice;ROUTE=STOP;SELL=LOAD;FOCUS share




{# Profit projections based on price and current position #}
/:PT Projected (price, position):Share=Price*100;DEFSHARE=Share;Price=AvgCost*100;Share=Price;SShare=Share;Share=DEFShare;Price=Share/100;
{%- if future == 1 -%}
Share=DEFShare-SShare*POS/100;;DEFSHARE=100;
{%- else -%}
Share=DEFShare-SShare*{{future*10}}*POS/1000;;DEFSHARE=1;
{%- endif -%}
TogSShare=off

{# Switch focus #}
Ctrl+A:Focus Symbol:Focus Symbol
Ctrl+S:Focus Share:Focus Share
Ctrl+D:Focus price:Focus Price
Ctrl+F:Focus Replace:Focus Replace

{# Exit trades #}
Ctrl+Z:Close Long Pos:ROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos;Price=Bid-0.03;CXL ALLSYMB;SELL
Ctrl+X:Close Long Pos*0.5:ROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos*0.5;Price=Bid-0.03;CXL ALLSYMB;SELL
Ctrl+C:Close Long Pos*0.25:ROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos*0.25;Price=Bid-0.03;CXL ALLSYMB;SELL

Alt+C:Close Short Pos*0.25:ROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos*0.25;Price=Ask+0.03;CXL ALLSYMB Buy;Buy
Alt+X:Close Short Pos*0.50:ROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos*0.5;Price=Ask+0.03;CXL ALLSYMB Buy;Buy
Alt+Z:Close Short Pos:ROUTE=ARCAL ;TIF=DAY+;HANDINST=ANY;Share=Pos;Price=Ask+0.03;CXL ALLSYMB Buy;Buy


Shift+TAB:switch  tabs:SwitchTab tabname

Insert:Best Fit chart:ZoomFit

PageUp:Send Limit Buy Default@Bid:Route=Limit;Share=DefShare;Price=Bid;BUY
PageDown:Send Limit Sell Default@Ask Sell:Route=Limit;Share=DefShare;Price=Ask+0.00;SELL

Shift+PageUp:Send Limit Buy Default@ask:Route=Limit;Share=DefShare;Price=Ask+0.01;Buy
Shift+PageDown:Send Limit Sell Default@bid:Route=Limit;Share=DefShare;Price=Bid-0.01;Sell

Ctrl+PageUp:Send Buy Limit default@price buy:Route=Limit;Share=DefShare;BUY
Ctrl+PageDown:Send Sell Limit default@price sell:Route=Limit;Share=DefShare;Sell

Alt+PageUp:Send Limit Buy default@ask:Route=Limit;Share=DefShare;Price=Ask+0.01;Buy
Alt+PageDown:Send Limit Sell default@bid:Route=Limit;Share=DefShare;Price=Bid-0.01;Sell

{# calculate position size based on account size #}
Home:Share size:Price={{account}}/Last;Share=Price/4;Price=last;Focus Share

{# set default size #}
Shift+:Default Size:DefShare=Share
Ctrl+Home:Load DEFSHARE:Share=DEFSHARE+0
Shift+ESC:Set DEFShare 0.25 Position:DEFShare=Pos/{{npt}}

{# misc hotkeys #}
F10:browser:https://seekingalpha.com/symbol/%SYMB%/press-releases
F12:Config Hotkey:Hotkey
Ctrl+F12:Config Login:Login

{# Load share #}
=:Share*2:Share=Share*2;FOCUS Share
+:Share*3:Share=Share*3;FOCUS Share
-:Share/2:Share=Share/2;FOCUS Share
_:Share/3:Share=Share/3;FOCUS Share

KeyLeft:Load pos-100:Share=Share-100
KeyRight:Load pos+100:Share=Share+100
KeyUp:Load Price + .01:Price=Price+0.01
KeyDown:Load Price - .01:Price=Price-0.01

Alt+KeyUp:TrailPrice+0.01:TrailPrice=TrailPrice+0.01
Alt+KeyDown:TrailPrice-0.01:TrailPrice=TrailPrice-0.01

Shift+KeyLeft:Load Pos-500:Share=Share-500
Shift+KeyRight:Load Pos+500:Share=Share+500

Shift+KeyUp:Load PT Price+${{risk}} :Share=Pos;Price=Price*Share+{{risk}};Price=Price/Share;Price=Round2
Shift+KeyDown:Load PT Price-${{risk}}:Share=Pos;Price=Price*Share-{{risk}};Price=Price/Share;Price=Round2

Ctrl+KeyLeft:Load Pos-1000 :Share=Share-1000
Ctrl+KeyRight:Load Pos+1000 :Share=Share+1000
Ctrl+KeyDown:Load Price - .05:Price=Price-0.05
Ctrl+KeyUp:Load Price + .05:Price=Price+0.05

ESC:Load Pos + Price:share=Pos;ROUTE=LIMIT;PRICE=AvgCost;SShare=0

{# Cancel keys #}
Ctrl+Q:Cancel orders:CXL ALLSYMB
Ctrl+W:Cancel last:CXL LAST
Alt+Q:Cancel orders:CXL ALLSYMB
Alt+W:Cancel last:CXL LAST
Shift+Q:Cancel orders:CXL ALLSYMB
Shift+W:Cancel last:CXL LAST


{# OTO #}
Ctrl+T:OTO:Price=Bid;Share=DEFSHARE+0;Route=Limit;BUY;TriggerOrder=RT:STOP STOPTYPE:LIMIT PX:AvgCost+0.10 STOPPRICE:AvgCost-0.10 ACT:SELL QTY:100 TIF:DAY